<template>
  <v-app id="inspire" v-if="isLoggedIn">
    <sidebar></sidebar>
  </v-app>

  <v-app v-else>
    <router-view/>
  </v-app>
</template>

<script>
import Sidebar from './components/layouts/SideBar';

export default {
  name: 'App',
  components: {
    Sidebar,
  },
  data: () => ({
    // code here
  }),
  computed: {
    isLoggedIn: function () {
      return this.$store.getters.isLoggedIn;
    },
  },
};
</script>
