<template>
  <v-app>
    <v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
      <v-row dense v-if="currentUser">
        <v-col>
          <v-row dense>
            <v-col>
              <img style="display: block; margin: auto; max-width: 100%"
                   :src="require('../../assets/logo.svg')"
                   alt="alt">
            </v-col>
          </v-row>
          <v-row dense style="margin-top: -10px;">
            <v-col class="text-center">
              Login Sebagai
              <h3> {{ currentUserParams.full_name }}</h3>
            </v-col>
          </v-row>
        </v-col>

      </v-row>

      <v-divider></v-divider>

      <v-list dense>
        <template v-for="item in items">
          <v-row
              v-if="item.heading"
              :key="item.heading"
              align="center"
          >
            <v-col cols="6">
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-col>
            <v-col
                cols="6"
                class="text-center"
            >
              <a
                  href="#"
                  class="body-2 black--text"
              >EDIT</a>
            </v-col>
          </v-row>
          <v-list-group
              v-else-if="item.children"
              :key="item.text"
              v-model="item.model"
              :prepend-icon="item.model ? item.icon : item['icon-alt']"
              append-icon=""
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>
                  {{ item.text }}
                </v-list-item-title>
              </v-list-item-content>
            </template>
            <v-list-item
                v-for="(child, i) in item.children"
                :key="i"
                link
                :to="child.to"
            >
              <v-list-item-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>
                  {{ child.text }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
          <v-list-item
              v-else
              :key="item.text"
              link
              :to="item.to"
          >
            <v-list-item-action>
              <v-icon :color="item.color">{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>


        <v-list-item link @click="logout">
          <v-list-item-action>
            <v-icon color="red">mdi-logout</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              Logout
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <!--    <app-bar></app-bar>-->
    <v-app-bar
        :clipped-left="$vuetify.breakpoint.lgAndUp"
        app
        color="blue darken-3"
        dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title
          style="width: 300px"
          class="ml-0 pl-4"
      >
        <span class="hidden-sm-and-down">
          Tirtawana Teknologi
        </span>
        <span class="hidden-sm-and-up">
         {{ $route.meta.title }}
        </span>

      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon fab @click="$router.go(-1)" class="hidden-sm-and-up mr-1">
        <v-icon>mdi-keyboard-backspace</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'SideBar',
  data: () => ({
    drawer: null,
    items: [],
    itemMenu: [],
    currentUserParams: null,
  }),
  computed: {
    currentUser() {
      this.menu();
      return this.$store.getters.currentUser;
    },
  },
  mounted() {
    this.currentUserParams = this.$store.getters.currentUser;
  },
  methods: {
    menu: function () {
      this.items = [
        {icon: 'mdi-view-dashboard', text: 'Dashboard', to: '/', color: 'primary'},
        {icon: 'mdi-account-multiple', text: 'Users', to: '/users', color: 'success'},
      ];
    },
    logout: function () {
      this.items = []
      this.$store.dispatch("logout").then(() => {
        this.$router.push("/login");
      });
    },
  }
};
</script>
<style>
</style>
