<template>
  <v-app id="inspire">
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Login form</v-toolbar-title>
              </v-toolbar>
              <v-card-text>

                <v-alert type="error" class="" v-if="errorMsg">
                  {{ errorMsg }}
                </v-alert>
                <v-form
                  ref="form"
                  v-model="valid"
                >
                  <v-text-field
                      label="Email"
                      name="email"
                      prepend-icon="email"
                      type="text"
                      v-model="credential.email"
                      :rules="[rules.required, rules.email]"
                  ></v-text-field>

                  <v-text-field
                      id="password"
                      label="Password"
                      name="password"
                      prepend-icon="lock"
                      type="password"
                      v-model="credential.password"
                      :rules="passwordRules"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn color="primary" text @click="doForgotPassword()">Lupa password ?</v-btn>
                <v-spacer></v-spacer>
                <v-btn
                    color="primary"
                    :disabled="!valid"
                    @click="login">
                  Login
                </v-btn>
                <v-btn
                    color="primary"
                    :disabled="!valid"
                    @click="login">
                  Register
                </v-btn>

              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>

    <v-overlay :value="overlay">
      <div class="brown lighten-5 pa-3 rounded">
        <v-progress-circular
            color="primary"
            indeterminate size="64"
        ></v-progress-circular>
      </div>
      <v-spacer></v-spacer>
      <v-btn @click="overlay=false" text block class="mt-2 white--text">Cancel</v-btn>
    </v-overlay>
  </v-app>
</template>

<script>
import { login } from '../../../store/helpers/auth';

export default {
  name: "Login",
  data() {
    return {
      errorMsg: null,
      overlay : false,
      valid: true,
      passwordRules: [
        v => !!v || 'Password is required',
        v => (v && v.length >= 6) || 'Password must be less than 6 characters',
      ],
      rules: {
        required: value => !!value || "Required",
        email: value => {
          const patern = /^(([^<>()[\].,;:\s@"]+(\.[^<>()[\].,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
          return patern.test(value) || "Invalid Email"
        },
      },
      credential: {
        email: null,
        password: null,
      },
    };
  },
  methods: {
    login: function() {
      this.$store.commit('login');
      this.overlay = this.$store.getters.isLoading;
      this.$store.dispatch('login')

      login(this.credential)
          .then((resp) => {
            if(resp === 'Invalid Username or Password'){
              this.$store.commit('loginFailed', {resp})
              this.errorMsg = this.$store.getters.authError
              this.overlay = false
              return false
            }

            if(resp.error){
              this.errorMsg = 'Invalid Username or Password'
              this.overlay = false
              return false
            }

            this.$store.commit('loginSuccess', resp)
            this.$router.push({path: '/'})
          })
          .catch((error) => {

            this.overlay =false;
            this.$store.commit('loginFailed', {error})
            this.errorMsg = this.$store.getters.authError

          });
    },
    doForgotPassword : function (){
      this.$router.push({path: '/forgot'})
    }
  }
}
</script>

<style scoped>
.v-progress-circular {
  margin: 1rem;
}
</style>
